{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
    <style>
        h1, p {
            font-family: 'Poppins', sans-serif;
        }
        /* Centering the card */
        .login {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-image: url('/media/hogsmeade.jpeg'); 
            background-size: cover;
            background-position: center;
        }

        .image {
            filter: blur(2px);
            height: 100%;
            width: 100%;
        }
        /* Floating login card styles */
        .wrapper {
            width: 380px;
            background: #fff;
            border-radius: 15px;
            box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
            text-align: center;
        }

        .wrapper h1 {
            font-size: 35px;
            font-weight: 600;
            line-height: 100px;
            color: #fff;
            background: linear-gradient(-135deg, #c2f4e3, #76e6c1);
            border-radius: 15px 15px 0 0;
        }
        .wrapper form {
            padding: 10px 30px 20px 30px;
            margin-top : 10px;
            margin-bottom : 10px;
        }

        .wrapper ul li{
            font-family: 'Poppins', sans-serif;
            font-size : smaller;
            color: #c02c3e;
        }

        /* Apply the same style to the message info below Username and Password Confirmation */
        .message-info {
            font-family: 'Poppins', sans-serif;
            font-size: smaller;
            color: #c02c3e;
            margin-top: 5px;
        }
        
        .signup-link {
            margin-top : 10px;
            margin-bottom : 10px;
        }

        .field {
            border-radius: 20px;
        }

        /* Gaya tombol login yang sama dengan tombol "Create Product" */
        .login_btn {
            padding: 10px 25px; 
            background-color: #76E6C1; /* Warna latar belakang */
            border: none;
            color: #4B1A17;
            text-align: center;
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            cursor: pointer;
            margin-top : 20px;
            margin-button : 10px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
            border-radius: 15px; 
        }
        .register_btn {
            padding: 10px 25px; 
            background-color: transparent; /* Latar belakang transparan */
            border: none;
            color: #4B1A17;
            text-align: center;
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            cursor: pointer;
            border: 2px solid transparent; /* Tambahkan border yang transparan */
            transition: background-color 0.3s ease; /* Animasi perubahan latar belakang */
            border-radius: 15px; /* Tambahkan border-radius jika diperlukan */
        }

        /* Efek hover saat kursor mengarah ke tombol */
        .register_btn:hover {
            background-color: #76E6C1; /* Warna latar belakang saat hover */
            border: 2px solid #76E6C1; /* Warna border saat hover */
            color: #4B1A17; /* Warna teks saat hover */
        }
        
        
    </style>
{% endblock meta %}

{% block content %}

<div class="login">
    <div class="wrapper">
        <h1>Login</h1>

        <form method="POST" action="">
            {% csrf_token %}
            <div class="field">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Username" class="form-control">
            </div>
            <div class="field">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password" class="form-control">
            </div>
            <div class="field">
                <div class="button_submit"></div>
                    <input type="submit" value="Login" class="login_btn">
            </div>
        </form>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="message-info">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="field">
            <div class="button_register">
                <form method="GET" action="{% url 'main:register' %}">
                    <p>Didn't have an account yet?</p><input type="submit" value="Register Now" class="register_btn">
                </form>
            </div>
        </div>
    </div>
</div>
    

{% endblock content %}