/* Main page background color */
body {
    background-color: #FF7518;
}

/* Styles for the table container */
.table-container {
    /* Add other styles for the table container if needed */
}


/* Table border and spacing */
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}
